@import './quasar.variables'
@import '~quasar/dist/quasar.styl'

/* Custom element style */
fonts = -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Microsoft JhengHei', 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'

/* Global */
body
  font-family fonts

.q-field
  font-size 0.95rem

  .q-field__bottom
    color rgba(0, 0, 0, 0.7)

  span
    font-size 0.875rem

.q-table
  tbody
    td
      font-size 0.85rem

/* @import '~quasar-addon-styl' */
.bg-vue
  background #4fc08c

.text-vue
  background #4fc08c

/* Notify */
.notify-main
  font-size 1rem
