// It's highly recommended to change the default colors
// to match your app's branding.
$primary = #26a69a
$secondary = #4fc08c
$accent = #9a3e3d
$positive = #21BA45
$negative = #d84b5a
$info = #31CCEC
$warning = #ff9800
