#nprogress
  .bar
    background-color #4fc08c
    position fixed
    z-index 1032
    top 0
    left 0
    width 100%
    height 2px

  .spinner
    display none

  .progress-groove
    background-color #dddddd
    position fixed
    z-index 1031
    top 0
    left 0
    width 100%
    height 2px
